<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div>
        <h3>Game of life</h3>
        <canvas id="gol"></canvas>
    </div>
    <hr>
    <div>
        <h4>Timer</h4>
        <button id="start_btn" onclick="startTimer()">Start</button>
        <button onclick="stopTimer()">Stop</button>
        <p id="timer"></p>
    </div>
    <script src="C:\Users\BOOST FM\Desktop\Hackaton_2\hackaton-2\gol_app\static\timer.js"></script>
</body>
</html>